.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

# Custom setup (npx quartz build --directory=../  --output=public/on --serve)
/content