.DS_Store
node_modules
.quartz-cache
tsconfig.tsbuildinfo

# Custom setup (npx quartz build --directory=PKMxKB --output=public/on --serve)
/public
/PKMxKB/.gitignore
/PKMxKB/.gitattributes

#Obsidian
PKMxKB/_Config/
PKMxKB/.obsidian/
PKMxKB/.trash/
PKMxKB/Box/

#Syncthing
.stfolder
.stversions
.stignore